body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Oswald', sans-serif;
    background-color: #ffffff;
    padding: 5px;
    zoom: 100%;
}

div{
    fill: black;
    height: auto;
}

/* .title{
    font-size: xxx-large;
    font-weight: 600;
} */

::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: #eee;
  }
  ::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid #eee;
  }

  #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .radioSelect{
    padding-top: 10px;
  }

  .radioSelect label {
    display: inline-block;
    width: auto;
    padding: 7px 14px 7px 14px;
    border: solid 1px #000;
  }

  .radioSelect input[type="radio"] {
    display: none;
    border: solid 2px black;
  }

  .radioSelect input[type="radio"]:checked + label {
    border: solid 2px black;
    color: white;
    background: black;
  }

  @media screen and (min-width: 980px)
  {
    .radioSelect label {
      display: inline-block;
      width: auto;
      padding: 10px 20px 10px 20px;
      border: solid 1px #000;
      transition: all 0.4s;
      font-size:14px;
    }

    .radioSelect input[type="radio"] {
      display: none;
      border: solid 2px black;
    }

    .radioSelect input[type="radio"]:checked + label {
      border: solid 2px black;
      color: white;
      background: black;
    }
    
    .title{
      font-size: xxx-large;
      font-weight: 600;
    }

    #globalGridSpan{
      font-size: xx-large;
    }

    #sliderDisplay{
      text-align: center;
      font-weight: bold;
      font-size: x-large;
    }
  }


.countryWise{
  font-size: x-large;
  font-weight: 400;
}

#sliderDisplay{
  text-align: center;
  font-weight: bold;
  font-size: large;
}

#slider .ui-slider-handle {
  outline: 0;
  background: black;
}

#slider.ui-slider-horizontal {
  background: #ccc;
}

div{
  height: auto;
}

select{
  width: 60%;
}

.chosen {font-family: 'Roboto', sans-serif !important; }

ol{
  font-family: 'oswald', sans-serif;
  font-size: large;
  height: auto;
  padding-top: 13px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

ol:hover{
  background-color:#181818;
  color: #ffffff;
}

a{
  color: #000;
  text-decoration: none;
}

a:hover{
  color: #ffffff;
  background-color: black;
}